// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

CODE_SIGN_STYLE = Manual
CODE_SIGN_IDENTITY = Apple Development
ENABLE_HARDENED_RUNTIME = YES

SWIFT_VERSION = 5.0

MACOSX_DEPLOYMENT_TARGET = 10.15
MARKETING_VERSION = 0.9.0
PRODUCT_NAME = QLMarkdown
PRODUCT_BUNDLE_IDENTIFIER = de.relikd.QLMarkdown
CURRENT_PROJECT_VERSION = 269
